.header{
    @include displayFxBtwCtr;
    background-color: var(--dark);
    font-size: $fontSizePrimary;
    .header__heading {
        padding: 10px 10px;
    }
    .nav {
        .nav__list {
            @include displayFxBtwCtr;
            a{
                display: inline-block;
                padding: 20px 20px;
                &:hover {
                    background-color: #bdc3c7;
                }
            }
        }
    }
}