.header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--dark);
    font-size: $fontSizePrimary;
    height: 50px;
    .header__heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6rem;
        padding-left: 20px;
    }
    .nav {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        position: relative;
        .nav__list {
            @include displayFxBtwCtr;
            position: relative;
            padding: 0px 10px;
            img{
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 50%;
            }
            .fa-sort-down{
                position: absolute;
                bottom: 5px;
                right: 0px;
                font-size: 1.4rem;
            }
            a{
                display: inline-block;
                padding: 20px 20px;
                &:hover {
                    background-color: var(--secondary);
                }
            }
        }
        .userprofil {
            background-color: white;
            
            position: absolute;
            bottom: -94px;
            font-size: 1.2rem;
            li{
                padding: 5px 10px;
            }
            li:nth-child(1){
                background-color: black;
                color: white;
            }
            li:nth-last-child(1){
                background-color: var(--dark);
                cursor: pointer;
            }
            
        }
        #visiblemenu{
            display: none;
        }
    }
}