.section--auth {
    min-height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    font-size: $fontSizePrimary ;
    form {
        border: 1px solid var(--accent);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 10px 20px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        .form-data {
            grid-column: 2/3;
            display: grid;
            grid-template-columns: 3fr 0.01fr 4fr 0.5fr; 
            margin-bottom: 10px;
            font-weight: bold;
            width: 100%;
            input {
                height: 20px;
                border-radius: 5px;
                border: 1px solid var(--accent);
                justify-self: flex-start;
                grid-column: 3/4;
                width: 100%;
            }
        }
        button {
            display: block;
            margin: auto;
            grid-column: 2/3;
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: bold;
            border: 1px solid var(--dark);
            &:hover {
                background-color: var(--dark);
                color: white;
                cursor: pointer;
            }
        }
        .error{
            display: block;
            color : red ;
            margin-top: 10px;
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
}