.section-inscription {
    height: calc(100vh - 58px);
    @include displayFxCtrCtr;
    font-size: $fontSizePrimary ;
    form {
        width: 40%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        .form-data {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            font-weight: bold;
            width: 100%;
            input {
                height: 20px;
                border-radius: 5px;
                border: 1px solid var(--accent);
            }
        }
        button {
            display: block;
            margin: auto;
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: bold;
            border: 1px solid var(--dark);
        }
    }
}