.section--todo{
    min-height: calc(100vh - 58px);
    padding-top: 50px;
    font-size: $fontSizePrimary ;
    @include displayFxCtrflxEnd;
    .content {
        width: 400px;max-width: 50%;
        form{
            display: flex;
            justify-content: flex-start;
            .tacheInput{
                font-weight: bold;
                width: 1000%;
                display: flex;
                align-items: flex-end;
                height: 25px;
                input{
                    box-sizing: border-box;
                    flex: 1;
                    border: none;
                    padding: 0px 3px;
                    border-radius: 5px 0px 0px 5px;
                    border: 1px solid var(--dark);
                    height: 100%;
                    outline: none;
                    
                }
                .button--todo{
                    display: block;
                    height: 100%;
                    border-radius: 0px 5px 5px 0px;
                    font-weight: bold;
                    border: 1px solid var(--dark);
                    background-color: var(--dark);
                        color: white;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            

        }
        .error {
            display : inline-block ;
            margin-top: 10px;
            text-align: center;
            color: red;
        }
        .list{
            margin-top: 20px;
            border: 1px solid var(--dark);
            border-radius: 5px;
            box-shadow: var(--box-shadow);
            background-color: white;
            padding: 10px 20px 0px 20px;
            .task {
                background-color: var(--divider);
                border : 1px solid var(--dark);
                border-radius: 3px;
                padding: 2px 5px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                .ckeckValue{
                    display: flex;
                    justify-content: flex-start;
                    width: 70%;
                    span {
                        margin-left: 5px;
                    }
                    input{
                        cursor: pointer;
                    }
                    #udapte_tache{
                        margin-left: 5px;
                        display: inline-block;
                        border: 1px solid var(--dark);
                        border-radius: 3px;
                        width: 100%;
                        outline: none;
                    }
                }
                .icone {
                    display: inline-block;
                    .fa-solid {
                        color: #8e44ad;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .fa-trash-can{
                        margin-left: 20px;
                    }
                }
                .btn-validate{
                    display: flex;
                    justify-content: flex-end;
                    width: 30%;
                    .icoValidate{
                       @extend %divIcone;
                       
                    }

                    .icoCancel{
                       @extend %divIcone;
                       color: red;
                       margin-left: 10px;
                    }

                    border-radius: 3px;
                    cursor: pointer;
                    .fa-circle-check{
                        color: #8e44ad;
                    }
                }
            }
        }
    }
}